/* containers */
.scoreboard {
    border: 1px solid black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    height: 4vh;
    max-width: 100vw;
    /*margin-left: 15rem;*/

    font-size: 20px;
}

.gameScreenLabel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    height: 3vw;
    max-width: 75vw;
    margin-left: 15rem;

    font-size: 25px;
}
.gameScreen {

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

    height: 25vw;
    max-width: 75vw;
    margin-left: 15rem;
}
.choiceLabel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    height: 3vh;
    max-width: 75vw;
    text-align: center;
    margin-left: 15rem;
}
.choices {
    padding: 2rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    height: 10vw;
    max-width: 75vw;
    margin-left: 14rem;
}

/* scoreboard items */
.newGame {
    

    flex: 1 2 -1rem;
    align-self: center;
    text-align: left;
}
.playerScore {
   

    flex: 1 1 auto;
    align-self: center;

    max-width: 10vw;
}
.compScore {
    
    max-width: 10vw;

    flex: 1 1 auto;
    align-self: center;
}
.space {
    max-width: 10vw;

    /*flex: 1 3 auto;*/
    align-self: center;
}

/* screen label items */
.playerWeaponLabel {
    
    padding-top: 3rem;

    align-self: center;
}
.compWeaponLabel {
    
    padding-top: 3rem;

    align-self: center
}

/* game screen items */
.playerWeapon {
    border: 1px solid black;
    padding: 1rem;
    max-width: 15vw;
    height: 15vh;

    flex: 2 1 auto;
    align-self: center;
    text-align: center;
}
.compWeapon {
    border: 1px solid black;
    padding: 1rem;
    max-width: 15vw;
    height: 15vh;

    flex: 2 1 auto;
    align-self: center;
    text-align: center;
}
.vs {
    
    max-width: 15vw;
    padding: 1rem;

    flex: 1 1 auto;
    align-self: center;
    text-align: center;

    font-size: 30px;
}
.result {
    
    max-width: 15vw;
    padding: 1rem;
    padding-bottom: 2rem;

    flex: 0 1 auto;
    align-self: center;
    text-align: center
}

/* choice items */
.rockImage {
    
    padding: 1rem;
    margin: 5rem;
    height: auto;
    max-width: 10%;

    flex: 1 1 auto;
    align-self: center;
}
.paperImage {
    
    padding: 1rem;
    margin: 5rem;
    height: auto;
    max-width: 8%;

    flex: 1 1 auto;
    align-self: center;
}
.scissorsImage {
    
    padding: 1rem;
    margin: 5rem;
    height: auto;
    max-width: 12%;

    flex: 1 1 auto;
    align-self: center;
}

@media screen and (max-width: 1500px){
    /* containers */
    .scoreboard {
        margin-left: 0;
        display: flex;
        flex-flow: column wrap !important;
            
        height: 10vh;
        max-width: 100vw;

        font-size: 20px;
    }
    .gameScreenLabel {
        margin-left: 0;
    
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    
        height: 10vw;
        max-width: 100vw;
        margin-top: 2rem;
    
        font-size: 15px;
    }
    .gameScreen {
    
        margin-left: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
    
        height: 35vw;
        max-width: 100vw;
        padding: 1rem;
    }
    .choiceLabel {
        margin-left: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    
        height: 3vh;
        max-width: 100vw;
    }
    .choices {
        margin-left: 0;
        padding: 2rem;
    
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    
        height: 15vw;
        max-width: 100vw;
    }
    /* scoreboard items */
    .newGame {
        

        flex: 1 2 -1rem;
        align-self: start;
        text-align: center;
    }
    .playerScore {
        

        flex: 1 1 auto;
        align-self: center;

        max-width: 100vw;
    }
    .compScore {
        
        max-width: 100vw;

        flex: 1 1 auto;
        align-self: center;
    }
    .space {
        max-width: 100vw;
        max-height: 1vh;
        align-self: center;
    }
    /* screen label items */
    .playerWeaponLabel {
        
        padding-top: 0;

        align-self: center;
    }
    .compWeaponLabel {
        
        padding-top: 0;

        align-self: center
    }
    /* game screen items */
    .playerWeapon {
        
        padding: 1rem;
        max-width: 20vw;
        height: 10vh;

        flex: 1 1 auto;
        align-self: start;
        text-align: center;
    }
    .compWeapon {
        
        padding: 1rem;
        max-width: 20vw;
        height: 10vh;

        flex: 1 1 auto;
        align-self: start;
        text-align: center;
    }
    .vs {
        
        max-width: 15vw;
        padding: 1rem;

        flex: 2 1 auto;
        align-self: start;
        text-align: center;
    }
    .result {
        
        width: 100%;
        padding: 0;
        padding-right: 0;
        padding-bottom: 1rem;

        flex: 1 1 auto;
        align-self: center;
        text-align: center;
        font-size: 13px;

    }
    /* choice items */
    .rockImage {
        
        padding: 0rem;
        margin: 0;

        height: auto;
        max-width: 30%;

        flex: 1 2 auto;
        align-self: center;
    }
    .paperImage {
        
        padding: 0;
        margin: 0;

        max-width: 20%;
        height: auto;

        flex: 1 2 auto;
        align-self: center;
    }
    .scissorsImage {
        
        padding: 0;
        margin: 0;
        
        max-width: 30%;
        height: auto;

        flex: 1 2 auto;
        align-self: center;
    }

}